{% extends 'recipes/base.html' %}
{% load static %}

{% block title %}
   {{ recipe.title }} edit.{{ recipe.id }}
{% endblock title %}
{% block content %}
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main page</a>
        </nav>
    </header>
    <main>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Save</button>
        </form>

    </main>
{% endblock content %}
