{% extends 'recipes/base.html' %}
{% block title %}
    Scrumptious recipes
{% endblock title %}


{% load static %}
<body>
    {% block content %}

    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main page</a>
            <a href="{% url 'create_recipe' %}">Create a recipe</a>
        </nav>
    </header>
    <main>
        <h1>Scrumptious Recipes</h1>
        <h2>All the food that's fit to eat</h2>
    </main>
    <div class="grid-container">
        {% for recipe in recipe_list %}
        <div>
            <h3>
                <a href="{% url 'show_recipe' recipe.id %}">{{recipe.title}}</a>
                <p>{{ recipe.created_on|date }}</p>
            </h3>
            <img src="{{recipe.picture|default:'https://img.ltn.com.tw/Upload/food/page/2020/12/31/201231-11239-23-xLpz4.jpg' }}">
            <div>4.3 stars</div>
            <p>{{recipe.description}}</p>
            <p>Author: {{recipe.author}}</p>
        </div>
        {% endfor %}
    </div>
    {% endblock content %}
</body>
</html>
