body {
    margin: 0px;
    padding: 10px;
}

main {
    padding: 16px;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
}

img {
    height: 200px;
    width: 200px
}

nav {
    border-bottom: 1px black;
    padding: 16px;
}

header {
    background-color: orangered;
    margin: 0px;
}

header nav a {
    color: White;
    text-decoration: None!important;
}
header nav a:hover {
    font-size: larger;
    transition: .76s;
}

div h3 a {
    color: green;
    text-decoration: None !important;
}

div h3 a:hover {
           font-size: 125%;
           color:seagreen;
           transition:ease-in;
           transition-duration: 1s;
        }
main h1 {
    color: darkgreen;
}

footer {
    background-color: rgba(151, 199, 54, 0.794);
    padding: 20px;
    margin-top: 50px;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
    margin: 0px;
    gap: 20px 70px;
}

table {
    border: collapse;
}
table th {
    background-color: white;
}

table tr:nth-child(odd) {
    background-color: lightgrey;
}
